@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0f0606;
}

.item {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

p, .description {
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: capitalize;
}

.description {
  width: 80%;
  height: auto;
  border-radius: 15px;
  border: 2px solid white;
  background-color: #484848;
  position: initial;
  padding: 25px 35px;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background: url("../img/Background.jpg") no-repeat center center;
  background-size: 100% 100%;
}
.container #parent {
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
  z-index: 2000;
}
.container #parent img {
  width: 100%;
  height: 100%;
}
.container #parent::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: transparent;
  border-radius: 50%;
  top: -7.8%;
  z-index: 100;
  left: -7.8%;
  border: 5px solid #fff5d5;
  transform: rotate3d(1, 1, 1, 80deg);
  opacity: 0;
  transition: all 1s;
}
.container #parent.animate::after {
  transform: rotate3d(1, 1, 1, 0deg);
  opacity: 1;
}
.container #main {
  position: absolute;
  left: 28%;
  top: 40%;
}
.container #main .item {
  border-radius: 50%;
  position: relative;
}
.container #main .item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

@keyframes rotateIn {
  from {
    transform: rotate3d(1, 1, 1, 80deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 0deg);
  }
}
@keyframes rotateOut {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 1;
  }
  100% {
    transform: rotate3d(1, 1, 1, 80deg);
    opacity: 0;
  }
}
.container #parent {
  width: 90px;
  height: 90px;
  text-align: center;
}
.container #parent::after {
  width: 110%;
  height: 110%;
  left: -8.5%;
  top: -8.5%;
}
@media only screen and (min-width: 400px) {
  .container #parent {
    width: 100px;
    height: 100px;
  }
  .container #parent::after {
    left: -8.5%;
    top: -7.8%;
  }
}
@media only screen and (min-width: 500px) {
  .container #parent {
    width: 130px;
    height: 130px;
  }
  .container #parent::after {
    left: -7%;
    top: -7%;
  }
}
@media only screen and (min-width: 610px) {
  .container #parent {
    width: 170px;
    height: 170px;
  }
  .container #parent::after {
    left: -7%;
    top: -7%;
  }
}
@media only screen and (min-width: 730px) {
  .container #parent {
    width: 170px;
    height: 170px;
  }
  .container #parent::after {
    left: -7%;
    top: -7%;
  }
}
@media only screen and (min-width: 850px) {
  .container #parent {
    width: 235px;
    height: 235px;
  }
  .container #parent::after {
    left: -6.6%;
    top: -6.6%;
  }
}
@media only screen and (min-width: 1000px) {
  .container #parent {
    width: 245px;
    height: 245px;
  }
}
@media only screen and (min-width: 1200px) {
  .container #parent {
    width: 280px;
    height: 280px;
  }
  .container #parent::after {
    left: -7%;
    top: -7%;
  }
}
@media only screen and (min-width: 1400px) {
  .container #parent {
    width: 310px;
    height: 310px;
  }
}
.container #main {
  left: 40%;
  top: 45%;
}
@media only screen and (min-width: 400px) {
  .container #main {
    left: 42%;
    top: 43%;
  }
}
@media only screen and (min-width: 610px) {
  .container #main {
    left: 42.5%;
    top: 42.5%;
  }
}
@media only screen and (min-width: 1000px) {
  .container #main {
    left: 41.5%;
    top: 41.5%;
  }
}
@media only screen and (min-width: 1750px) {
  .container #main {
    left: 43.5%;
    top: 43.5%;
  }
}

.small {
  width: 40px;
  height: 40px;
  font-size: 7px;
  line-height: 9px;
  padding: 4px;
  letter-spacing: 0.6px;
}
@media only screen and (min-width: 500px) {
  .small {
    width: 55px;
    height: 55px;
    font-size: 7.5px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 610px) {
  .small {
    width: 70px;
    height: 70px;
  }
}
@media only screen and (min-width: 700px) {
  .small {
    font-size: 8.5px;
    line-height: 13px;
  }
}
@media only screen and (min-width: 850px) {
  .small {
    width: 85px;
    height: 85px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media only screen and (min-width: 850px) {
  .small {
    width: 100px;
    height: 100px;
    font-size: 13px;
    line-height: 17px;
  }
}
@media only screen and (min-width: 1200px) {
  .small {
    width: 110px;
    height: 110px;
    font-size: 14.5px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 1400px) {
  .small {
    width: 120px;
    height: 120px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1750px) {
  .small {
    font-size: 18px;
    line-height: 22px;
  }
}

.medium {
  width: 70px;
  height: 70px;
  font-size: 9px;
  line-height: 12px;
}
@media only screen and (min-width: 400px) {
  .medium {
    width: 85px;
    height: 85px;
  }
}
@media only screen and (min-width: 500px) {
  .medium {
    width: 95px;
    height: 95px;
    padding: 3px;
    font-size: 11px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 610px) {
  .medium {
    width: 125px;
    height: 125px;
  }
}
@media only screen and (min-width: 730px) {
  .medium {
    width: 135px;
    height: 135px;
  }
  .medium p, .medium .description {
    font-size: 12px;
    line-height: 15px;
  }
}
@media only screen and (min-width: 850px) {
  .medium {
    width: 160px;
    height: 160px;
  }
  .medium p, .medium .description {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1000px) {
  .medium {
    width: 180px;
    height: 180px;
  }
  .medium p, .medium .description {
    font-size: 19px;
    line-height: 23px;
  }
}
@media only screen and (min-width: 1400px) {
  .medium {
    width: 220px;
    height: 220px;
  }
  .medium p, .medium .description {
    font-size: 22px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1750px) {
  .medium p, .medium .description {
    font-size: 25px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
