* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

// mixing
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

:root {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #0f0606;
}

.item {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}
p {
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: capitalize;
    // position: absolute;
}
.description {
    @extend p;
    width: 80%;
    height: auto;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #484848;
    position: initial;
    padding: 25px 35px;
}
.container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background: url("../img/Background.jpg") no-repeat center center;
    background-size: 100% 100%;
    #parent {
        align-self: center;
        justify-self: center;
        border-radius: 50%;
        display: grid;
        align-items: center;
        justify-items: center;
        position: relative;
        cursor: pointer;
        // for animation
        z-index: 2000;
        img {
            width: 100%;
            height: 100%;
        }
        &::after {
            content: "";
            position: absolute;
            width: 110%;
            height: 110%;
            background-color: transparent;
            border-radius: 50%;
            top: -7.8%;
            z-index: 100;
            left: -7.8%;
            border: 5px solid #fff5d5;
            transform: rotate3d(1, 1, 1, 80deg);
            opacity: 0;
            transition: all 1s;
        }
        &.animate {
            &::after {
                transform: rotate3d(1, 1, 1, 0deg);
                opacity: 1;
            }
        }
    }
    // main style
    #main {
        // width: 49%;
        position: absolute;
        left: 28%;
        top: 40%;
        // item style
        .item {
            border-radius: 50%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
}

// keyframe animation
@keyframes rotateIn {
    from {
        transform: rotate3d(1, 1, 1, 80deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 0deg);
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
        opacity: 1;
    }
    100% {
        transform: rotate3d(1, 1, 1, 80deg);
        opacity: 0;
    }
}

// common item style
.container {
    #parent {
        width: 90px;
        height: 90px;
        text-align: center;
        &::after {
            width: 110%;
            height: 110%;
            left: -8.5%;
            top: -8.5%;
        }
        @include resp(400px) {
            width: 100px;
            height: 100px;
            &::after {
                left: -8.5%;
                top: -7.8%;
            }
        }
        @include resp(500px) {
            width: 130px;
            height: 130px;
            &::after {
                left: -7%;
                top: -7%;
            }
        }
        @include resp(610px) {
            width: 170px;
            height: 170px;
            &::after {
                left: -7%;
                top: -7%;
            }
        }
        @include resp(730px) {
            width: 170px;
            height: 170px;
            &::after {
                left: -7%;
                top: -7%;
            }
        }
        @include resp (850px) {
            width: 235px;
            height: 235px;
            &::after {
                left: -6.6%;
                top: -6.6%;
            }
        }
        @include resp(1000px) {
            width: 245px;
            height: 245px;
            
        }
        @include resp (1200px) {
            width: 280px;
            height: 280px;
            &::after {
                left: -7%;
                top: -7%;
            }
        }
        @include resp (1400px) {
            width: 310px;
            height: 310px;
            // &:: {

            // }
        }
    }
    #main {
        left: 40%;
        top: 45%;
        @include resp(400px) {
            left: 42%;
            top: 43%;
        }
        @include resp(610px) {
            left: 42.5%;
            top: 42.5%;
        }
        @include resp(1000px) {
            left: 41.5%;
            top: 41.5%;
        }
        @include resp(1750px) {
            left: 43.5%;
            top: 43.5%;
        } 
    }
}
.small {
    width: 40px;
    height: 40px;
    font-size: 7px;
    line-height: 9px;
    padding: 4px;
    letter-spacing: 0.6px;
    @include resp(500px) {
        width: 55px;
        height: 55px;
        font-size: 7.5px;
        line-height: 12px;
        
    }
    @include resp(610px) {
        width: 70px;
        height: 70px;
    }
    @include resp (700px) {
        font-size: 8.5px;
        line-height: 13px;
    }
    @include resp(850px) {
        width: 85px;
        height: 85px;
        font-size: 12px;
        line-height: 15px;
    }
    @include resp(850px) {
        width: 100px;
        height: 100px;
        font-size: 13px;
        line-height: 17px;
    }
    @include resp (1200px) {
        width: 110px;
        height: 110px;
        font-size: 14.5px;
        line-height: 18px;
    }
    @include resp(1400px) {
        width: 120px;
        height: 120px;
        font-size: 16px;
        line-height: 20px;
    }
    @include resp (1750px) {
        font-size: 18px;
        line-height: 22px;
    }
}
.medium {
    width: 70px;
    height: 70px;
    font-size: 9px;
    line-height: 12px;
    @include resp(400px) {
        width: 85px;
        height: 85px;
    }
    @include resp(500px) {
        width: 95px;
        height: 95px;
        padding: 3px;
        font-size: 11px;
        line-height: 16px;
    }
    @include resp(610px) {
        width: 125px;
        height: 125px;
    }
    @include resp(730px) {
        width: 135px;
        height: 135px;
        p {
            font-size: 12px;
            line-height: 15px;
        }
    }
    @include resp(850px) {
        width: 160px;
        height: 160px;
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
    @include resp(1000px) {
        width: 180px;
        height: 180px;
        p {
            font-size: 19px;
            line-height: 23px;
        }
    }
    @include resp (1400px) {
        width: 220px;
        height: 220px; 
        p {
            font-size: 22px;
            line-height: 26px;
        }
    }
    @include resp (1750px) {
        p {
            font-size: 25px;
            line-height: 30px;
        }
    }
}
